
.splash-wrapper{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Candela Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../img/geometry.png");

  .inner-wrapper{
    padding: 50px;
  }
  .logo-wrapper{
    max-width: 300px;
    margin-bottom: 20px;
  }
  .slogan-wrapper{
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .contact-link-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .contact-link-wrapper{
    a{
      display: inline-block;
      background-color: #FF652D;
      color: #FFF;
      /*font-weight: bold;*/
      /*text-transform: uppercase;*/
      letter-spacing: 1px;
      font-size: 14px;
      padding: 15px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
      border-radius: 0 0 3px 3px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover, &:focus{
        background-color: #F6AE2D;
        text-decoration: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
      }
    }
  }
}
